h2 Acknowledgements

ul
    li Algorithm interpretation - Krzysztof Galicki, University of New Mexico 
    li Programming - Evan Thomas
    li Programming - Andrew Ruether 
    li Programming - Anthony Weed