h2.mb-3 References

p <a id='r1'>[1]</a> Milnor, J. and Orlik, P. 
    i Isolated Singularities Defined by Weighted Homogeneous Polynomials, 
    Topology 9 (1970) 385-393

p <a id='r2'>[2]</a> Orlik, P. 
    i On the Homology of Weighted Homogeneous Manifolds, 
    Proceedings of the Second Conference on Compact Transformation Groups (Univ. Mass., Amherst, Mass., 1971), Part 1 (Berlin), Spring, 1972, pp 260-269. Lecture Notes in Math., Vol. 298.
