extends layout

block content
    h1 🔗 Homology of Links

    if results
        h2 Results
        div(style='padding-left:2em;')
            h3 Input
            p=  results.input

            if results.output
                h3 Output
                p(style='white-space: pre-line;')= results.output

        h2(style='padding-top:1em;') Try another one


    form(method="POST", action="/")
        p(style='padding-left:2em;')
            | Input:
            input(type="text", name="args")
            input(type="submit")

    h2(style='padding-top:2em;') Explanation
    p Let \( L_f \) be a link of an isolated hypersurface singularity defined by a quasi-homogeneous polynomial f of degree d with weights \( \left(w_0, \cdots, w_n\right) \). The free part of \( H_{n-1}\left(L_f, \mathbb{Z}\right) \), i.e., the Betti number \( b_{n-1}\left(L_f\right) \) can be computed using the weights and the degree following the algorithm described in [1]. The torsion in the homology of the link was conjectured by Orlik [2] to be of the form: $$H_{n-1}\left(L_f, \mathbb{Z}\right)_{\text {torsion }}=\mathbb{Z}_{d_1} \oplus \mathbb{Z}_{d_2} \cdots \mathbb{Z}_{d_r}$$

    p where the \( \mathrm{d}_{\mathrm{i}} \) are computed using a combinatorial procedure involving the degree and the weights of f and this is described in [2]. The full conjecture is still open. This program allows one to input the degree followed by the weights to determine, according to the conjecture, what the homology of the link should be. For example, consider the quasi-homogenous polynomial of degree 12: $$ f\left(x_0 x_1, x_2, x_3, x_4\right)=x_0^2+x_1^3+x_2^3+x_3^4+x_4^6 $$

    p Now if we input 12 6 4 4 3 2 then the output will be kappa=2, (third Betti number) d_1=12, d_2=4, d_3=2, d_4=2. Hence \( H_3\left(L_f, Z\right)=\mathbb{Z}^2 \oplus \mathbb{Z}_{12} \oplus \mathbb{Z}_4 \oplus\left(\mathbb{Z}_2\right)^2 \).

    p [1] Milnor, J. and Orlik, P. 
        i Isolated Singularities Defined by Weighted Homogeneous Polynomials, 
        Topology 9 (1970) 385-393

    p [2] Orlik, P. 
        i On the Homology of Weighted Homogeneous Manifolds, 
        Proceedings of the Second Conference on Compact Transformation Groups (Univ. Mass., Amherst, Mass., 1971), Part 1 (Berlin), Spring, 1972, pp 260-269. Lecture Notes in Math., Vol. 298.


    h2(style='padding-top:2em;') Acknowledgments
    ul
        li Algorithm interpretation - Krzysztof Galicki, University of New Mexico 
        li Programming - Evan Thomas
        li Programming - Andrew Ruether 
        li Programming - Anthony Weed