extends layout

block content
    h1 🔗 Homology of Links

    if results
        h2 Results
        div(style='padding-left:2em;')
            h3 Input
            p=  results.input

            if results.output
                h3 Output
                p(style='white-space: pre-line;')= results.output

        h2(style='padding-top:1em;') Try another one


    form(method="POST", action="/")
        p(style='padding-left:2em;')
            | Input:
            input(type="text", name="args")
            input(type="submit")

    h2(style='padding-top:2em;') Acknowledgments
    ul
        li Algorithm interpretation - Krzysztof Galicki, University of New Mexico 
        li Programming - Evan Thomas
        li Programming - Andrew Reuther 
        li Programming - Anthony Weed