extends layout

block content
    h1.mb-4 Homology of Links

    if results
        h2 Results
        div
            h3 Input
            p=  results.input

            if results.output
                h3 Output
                p(style='white-space: pre-line;')= results.output

        h2 Try another one

    .my-4.card
        .card-body
            form(method="POST", action="/")
                label(for='args-input', class='form-label') Input
                input(type='text', class='form-control form-control-lg mb-1', id='args-input')
                button(type='submit', class='btn btn-primary') Submit

    .my-4
        include ../blocks/explanation.pug
    .my-4
        include ../blocks/references.pug
    .my-4 
        include ../blocks/acknowledgments.pug
